services:
  server:
    image: room-3d-server:1
    build: ./server
    env_file:
      - ./server/.env
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
    ports:
      - 3001:3001

  client:
    image: room-3d-client:1
    env_file:
      - ./client/.env
    build:
      context: ./client
      args:
        - VITE_SERVER_URL=${VITE_SERVER_URL}
    ports:
      - 80:80
    depends_on:
      - server